
#page_header{
  background-image: url("/assets/images/analytics3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  min-height: 430px;
  /* height: 400px; */
}

.profile-page .brand {
    text-align: center;
    padding-top: 15px;
}

#page_header .brand h1 {
    text-align: center;
    font-size: 4.8em;
    font-weight: 600;
    display: inline-block;
    position: relative;
    /* padding-left: 55px */
}

#page_header .brand h2 {
    text-align: center;
    font-size: 1.4em;
    font-weight: 200;
    display: inline-block;
    position: relative;
    /* padding-left: 65px; */
    margin-top: 1px;
}

#page_header .profile-tabs {
    margin-top: 30px !important;
}

.space-20 {
   height:20px;
   display:block;
   margin-top: 20px;
   padding-top: 20px;
}

.profile .title{
  margin-bottom: 1px;
}

.chat-container{
  min-height: 200px;
}

.chat-row{
  min-height: 200px;
  overflow: visible;
}

.dialog-panel{
  min-height: 200px;
  overflow: visible;
}

.info .icon, .media p {
    color: #244b73 !important;
}

.medium-padding{
  padding: 5px
}

.no-margin{
  margin: 1px
}

.no-padding{
  padding: 1px
}

.send-btn-container {
  /*height: 130px;*/
  height: auto
}

.send-btn {
  margin-top: 20px
}

.chatDiv{
    max-width: 800px;
}

.result {
    background-color: #f2f2f2;
    padding: 1rem;
    width: 100%;
    border: 1px solid #562f72;
}

.result-title {
    color: #562f72;
    font-weight: bold;
}

.result-preview {
    color: #562f72;
}

.result-link {
    color: #ba8ff7;
}

#reqRespModal .modal-dialog{
  min-width: 600px;
}

.footer-feedback{
  margin-right: 150px;
}

.btn-feedback {
  padding: 2px 10px;

}

pre span {white-space: normal;}
   .string { color: green; }
   .number { color: darkorange; }
   .boolean { color: blue; }
   .null { color: magenta; }
   .key { color: red; }

.media .watson{
  box-shadow: none !important;
}
