.App {
  /* text-align: center; */
  padding: 24px;
  /* width: 225px; */
}

.AppContent {
  padding-top: 64px;
  /* padding-left: 24px; */
}

.ButtonArea {
  padding-top: 24px;
  padding-left: 0px;
  padding-bottom: 40px;
}

.PButtonArea {
  padding-top: 24px;
  padding-left: 0px;
  padding-bottom: 40px;
}

.TButtonArea {
  padding-top: 16px;
  padding-left: 0px;
  padding-bottom: 24px;
}

.FormElements {
  margin-bottom: 20px;
}

.TableDisplay {
  padding-bottom: 72px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------ added ------ */

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
}


button.bx--btn--tertiary {
    border-width: 1px;
    border-style: solid;
    border-color: #0f62fe;
    background-color: rgba(0, 0, 0, 0);
    color: #0f62fe;
    width: 210px;
}

button.bx--btn--primary {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    background-color: #0f62fe;
    color: #fff;
    width: 210px;
}

button.bx--btn--secondary {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    background-color: #393939;
    color: #fff;
    width: 210px;
}
