<div id="page_header" class="page-header header-filter clear-filter" data-parallax="true">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				<div class="brand text-center">
					<h1>Analytics</h1>
					<!-- <h2>IBM Watson Conversation Demo</h2> -->
				</div>
			</div>
		</div>
	</div>

</div>

<div class="main main-raised">

 	<div class="section section-comments">
		<div class="container chat-container" >
      <div class="col-md-12 ml-auto mr-auto" >
        <div class="row">
          <div class="col-md-10">

            <!-- <script src="https://gist.github.ibm.com/gurvsin3/bd7dffe0228689d8c1c96272b6b2d691.js"></script> -->
            <!-- <script src="https://gist.github.com/sinny777/e9a5fba8c6167e47bc37bc89d90ee5a0.js"></script> -->

            <script>
              (function setupNbinteract() {
                  // If NbInteract hasn't loaded, wait one second and try again
                  if (window.NbInteract === undefined) {
                  setTimeout(setupNbinteract, 1000)
                  return
                  }

                  var interact = new window.NbInteract({
                  spec: 'sinny777/e9a5fba8c6167e47bc37bc89d90ee5a0/master',
                  baseUrl: 'https://mybinder.org',
                  provider: 'gist',
                  })
                  interact.prepare()

                  window.interact = interact
              })()
          </script>

          </div>

        </div>
      </div>


		</div>

	</div>
</div>

