
<nav class="navbar navbar-color-on-scroll navbar-transparent bg-primary fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
	<div class="container">
			<div class="navbar-translate">
					<a class="navbar-brand" routerLink="/">
							<div class="logo-container" *ngIf="showLogo">
										<div class="logo">
                      <img src="./assets/images/avatars/watson-avatar2.png" alt="Home" rel="tooltip" title="IBM Watson" data-placement="bottom" data-html="true">
										</div>
										<div class="brand">
												IBM Watson
										</div>
							</div>
				  </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>

			<div class="collapse navbar-collapse" >
	    	<ul class="navbar-nav ml-auto">
					<li class="nav-item" *ngIf="!currentUser || !currentUser.id">
							<a href="#" data-toggle="modal" data-target="#loginModal">
								<i class="material-icons">login</i> Login
							</a>
					</li>
					<li *ngIf="currentUser && currentUser.username" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								 {{currentUser.username}}
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
									<li><a routerLink="/account"> Account Settings</a></li>
									<span *ngIf="currentUser && currentUser.roles && currentUser.roles[0].name == 'admin'">
										<li class="divider"></li>
										<li class="dropdown-header">Activities</li>
										<li><a routerLink="/theme">Template</a></li>
										<li><a routerLink="secure/configurations">Configurations</a></li>
									</span>
									<li><a href="javascript:void(0);" (click)="logout();">Logout</a></li>
							</ul>
					</li>
					<li class="dropdown" *ngIf="currentUser && currentUser.roles && currentUser.roles[0].name == 'admin'">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									 Services
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a target="_blank" href="https://2322a3ac-13d9-4cfb-aee9-adce7ee8126a-bluemix.cloudant.com/dashboard.html#/_all_dbs">CloudantDB</a></li>
									<li><a target="_blank" href="https://watson-assistant.ng.bluemix.net/us-south/f00a3cc1-5d55-45d6-8f6b-c326dcab8aee/home">Watson Assistant</a></li>
									<li><a target="_blank" href="https://watson-discovery.bluemix.net/regions/us-south/services/a9dfc261-c0f6-4a68-853a-0215848e0098">Watson Discovery</a></li>
									<li><a target="_blank" href="https://console.bluemix.net/services/Object-Storage/cc2840c0-0a4a-4e30-a58c-4fb16873bc12">Object Storage</a></li>
									<li><a target="_blank" href="https://console.bluemix.net/devops/pipelines/78528142-404c-451b-9e0e-1f0d1c1d9c8a">DevOps</a></li>
									<li><a target="_blank" href="https://git.ng.bluemix.net/gurvsin3/my-watson-assistant">GIT Repository</a></li>
								</ul>
						</li>

						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">menu</i>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li class="dropdown-header">Documentation</li>
									<li><a target="_blank" href="https://www.ibm.com/cloud/"> IBM Cloud Platform </a></li>
									<li><a target="_blank" href="https://console.bluemix.net/catalog/?category=watson"> IBM Watson Catalog </a></li>
									<li><a target="_blank" href="https://console.bluemix.net/docs/services/conversation/getting-started.html#getting-started-tutorial"> Watson Assistant </a></li>
									<li><a target="_blank" href="https://console.bluemix.net/docs/services/discovery/index.html#about"> Watson Discovery </a></li>
									<li><a target="_blank" href="https://console.bluemix.net/docs/services/Cloudant/getting-started.html"> Cloudant NoSQL DB </a></li>
								</ul>
						</li>
	    	</ul>
	    </div>
	</div>
</nav>
<!-- End Navbar -->

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="card card-signup card-plain">
				  <div class="modal-header">
						<div class="card-header card-header-primary text-center">
							<button #closeBtn type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
							<div class="header header-primary text-center">
								<h4 class="card-title">Log in</h4>
								<div class="social-line">
									<a href="{{CONFIG.API_BASE_URL}}/MyUsers/authenticate?provider=google&redirectTo='/'" class="btn btn-just-icon btn-link">
										<i class="fa fa-google-plus"></i>
									</a>
									<a href="{{CONFIG.API_BASE_URL}}/MyUsers/authenticate?provider=facebook&redirectTo='/'" class="btn btn-just-icon btn-link">
										<i class="fa fa-facebook-square"></i>
									</a>
									<a href="{{CONFIG.API_BASE_URL}}/MyUsers/authenticate?provider=linkedin&redirectTo='/'" class="btn btn-just-icon btn-link">
										<i class="fa fa-linkedin"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				<div class="modal-body">

								<form class="form" [formGroup]="loginForm" (ngSubmit)="handleLogin(loginForm.value)">
									<p class="description text-center">Or Be Classical</p>
									<div class="card-body">

										<div class="input-group">
											<div class="input-group-prepend">
													<span class="input-group-text">
														<i class="material-icons">mail</i>
													</span>
											</div>
											<input type="text" class="form-control" placeholder="Username/Email" formControlName="username">
										</div>

										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">
													<i class="material-icons">lock_outline</i>
												</span>
											</div>
											<input type="password" placeholder="Password" formControlName="password" class="form-control">
										</div>

									</div>

									<div class="text-center login-btn">
											<input type="submit" class="btn btn-primary btn-simple btn-wd btn-lg" value="Login" [disabled]="!loginForm.valid" >
									</div>

								</form>

				</div>
				<div class="modal-footer text-center">
					Don't have an account ? <a href="javascript:void(0);" (click)="gotoRegister();" class="">Click here to Register</a>
					<!-- <input type="submit" class="btn btn-primary btn-simple btn-wd btn-lg" value="Login" [disabled]="!loginForm.valid"> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!--  End Modal -->

	<!-- <app-dashboard></app-dashboard> -->
	<!-- <app-home></app-home> -->
	<ng-progress [min]="0.15" [max]="1" [speed]="200" [spinner]="true" [direction]="'leftToRightIncreased'"
						 [color]="'#3d42e4'" [trickleSpeed]="250" [thick]="true" [ease]="'linear'">
	</ng-progress>

	<router-outlet></router-outlet>

<footer class="footer">
	<div class="container">
			<nav class="pull-left">
					<ul>
						<li>
							<a href="/">
								IBM - Watson Demo
							</a>
						</li>
					</ul>
			</nav>
			<div class="copyright pull-right">
					<a href="http://www.gurvinder.info" target="_blank"> &copy; 2020, By Gurvinder Singh</a>
			</div>
	</div>
</footer>
