
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <title>Aspera on Cloud Sample App</title>
</head>
<body class="simple-style" style="border-style: solid;">
    <%- include ("./nav.ejs") %>
    <%- include ("./func.ejs") %>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</html>