<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
   </head>

   <!-- Menu & Navigation -->
   
       <div class ="titlediv">
           
           <h1 style="font-family: 'IBM Plex Sans', sans-serif;"> Aspera on Cloud Sample App </h1>
           <input class ="menu-button" type="submit" style="font-family: 'IBM Plex Sans', sans-serif;" value="Aspera Cloud" onclick="displayOption('1')">
       </div>
   
   
   <script>
       function displayOption(activeOption) {
           activeOption--;
           var i;
           var activediv = document.getElementsByClassName("menu-div");
           var activebutton = document.getElementsByClassName("menu-button");
           for (i = 0; i < activediv.length; i++) {
               if (i == activeOption) {    
                   activediv[i].style.display = "block"; 
                   activebutton[i].style.background = "rgb(0, 0, 238)";
               } else {
                   activediv[i].style.display  = "none"; 
                   activebutton[i].style.background = "";
               }
           }
   
           
       }
   
   </script>