.App {
  padding: 24px;
}

.AppContent {
  padding-top: 64px;
}

.ButtonArea {
  padding-top: 40px;
  padding-left: 0px;
  padding-bottom: 54px;
}
.CButtonArea {
  padding-top: 16px;
  padding-left: 0px;
  padding-bottom: 54px;
}
.TabArea{
padding-top: 16px;
}

.TextArea{
  padding-bottom: 24px; 
}

.FormElements {
  margin-bottom: 20px;
}

.TableDisplay {
  padding-bottom: 72px;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

th,
td {
  border: 1px solid rgba(0, 0, 0, 0.968);
  margin: 0px 0px;
  padding: 5px 5px;
}

.header {
  padding: 60px;
  text-align: center;
  background: rgba(0, 0, 0, 0.913);
  color: white;
  font-size: 30px;
}
