.bx--tab-content {
  padding-left: 2px;
  padding-right: 0px;
}

a.bx--header__name {
  font-size: 1.5rem;
}

header.bx--header {
  height: 6rem;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
}

div.bx--toast-notification.bx--toast-notification--error {
  position: fixed;
  right: 0;
  top: 4rem;
  animation: toast-entry 0.5s ease-in;
  transition: opacity 0.5s linear;
  z-index: 90001;
}

@keyframes toast-entry {
  0% {
    transform: rotateY(90deg);
    opacity: 0.5;
  }
  50% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
