
#page_header{
  background-image: url(/assets/images/bg5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  min-height: 430px;
  /* height: 400px; */
}

.profile-page .brand {
    text-align: center;
    padding-top: 15px;
}

#page_header .brand h1 {
    text-align: center;
    font-size: 4.8em;
    font-weight: 600;
    display: inline-block;
    position: relative;
    /* padding-left: 55px */
}

#page_header .brand h2 {
    text-align: center;
    font-size: 1.4em;
    font-weight: 200;
    display: inline-block;
    position: relative;
    /* padding-left: 65px; */
    margin-top: 1px;
}

#page_header .profile-tabs {
    margin-top: 30px !important;
}
