.bx--tab-content {
  padding-top: 54px;
  padding-left: 2px;
}

a.bx--header__name {
  font-size: 1.5rem;
}

header.bx--header {
  height: 6rem;
}

.bx--data-table th {
  text-align: left;
  vertical-align: middle;
  height: 64px;
}

.bx--data-table td {
    padding-top: 10px;
    text-align: left;
    vertical-align: middle;
    height: 72px;
    padding-bottom: 16px;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
}

.bx--snippet--inline .bx--copy-btn__feedback {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
    z-index: 1;
    width: max-content;
    min-width: 1.5rem;
    max-width: 13rem;
    height: auto;
    background-color: rgb(57, 57, 57);
    color: rgb(255, 255, 255);
    text-align: left;
    transform: translateX(-50%);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.28572;
    letter-spacing: 0.16px;
    display: none;
    box-sizing: content-box;
    clip: auto;
    padding: 0.1875rem 1rem;
    border-radius: 0.125rem;
    overflow: visible;
    margin: auto;
}

div.bx--toast-notification.bx--toast-notification--error {
  position: fixed;
  right: 0;
  top: 4rem;
  animation: toast-entry 0.5s ease-in;
  transition: opacity 0.5s linear;
  z-index: 90001;
}

.bx--toast-notification--success {
  position: fixed;
  right: 0;
  top: 4rem;
  animation: toast-entry 0.5s ease-in;
  transition: opacity 0.5s linear;
  z-index: 90001;
}

@keyframes toast-entry {
  0% {
    transform: rotateY(90deg);
    opacity: 0.5;
  }
  50% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
