<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>IBM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS here -->
    <link rel="stylesheet" href="css/carbon-components.min.css">
</head>

<body>

    <!-- bradcam_area  -->
    <div class="header" style="
    background-color: #000000; margin-top: -31px; padding-bottom:10px">
        <h2 style="
        color: #FFFFFF;
        padding-top:35px;
        padding-left: 26px;
        font-family: 'IBM Plex Sans';
        font-size: 32px;">Risk Prediction for Bank Loans Applications</h2>
    </div>
    <!--/ bradcam_area  -->
    <div style="padding-left:26px; padding-right: 26px; padding-top: 31px"> {% for message in get_flashed_messages() %}
        {% endfor %}

        <div class="col-lg-8">
            {% block headextension %}{% endblock %}
        </div>
        <div class="col-lg-8" style="margin-left:5;">

            {% block body2 %}{% endblock %}
        </div>
    </div>

    <!-- apply_form_area -->
    <div class="apply_form_area">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-8">

                    {% block body %}{% endblock %}

                </div>


            </div>
        </div>

    </div>

    <script src="js/carbon.js"></script>
    

</body>

</html>