{% extends "apply.html" %}

{% block headextension %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script> var result_json = {{ result| tojson }}; </script>
<script> var result_labels = {{ labels | tojson}}; </script>
<script type="text/javascript">

  var predictions = [['Label', 'Probability']];
  var result = result_json.result;
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    for (var i = 0; i < result_labels.length; i++) {
      predictions[i + 1] = [result_labels[i], result_json.probability[i] * 100];
    }
    var data = google.visualization.arrayToDataTable(predictions);
    var options = {
      title: 'Risk Probability',
      pieHole: 0,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>
  <div>
    <h3 style="padding-bottom: 16px">Credit loan risk prediction</h3>
<div class="bx--grid">
  <div class="bx--row">
        <div class="outside" style="box-sizing: border-box;
        height: 253px;
        width: 310px;
        border: 1px solid #CDCDCD;" id="donutchart">
        </div>
        <div class="outside" style="height: 253px; width: 310px;
        background-color: #313131;">
            <br/>
            <span style="height: 20px;
            width: 79px;
            color: #FFFFFF;
            font-family: 'IBM Plex Sans';
            font-size: 16px;
            letter-spacing: 0.18px;
            line-height: 20px;
            padding-left:14px">Loan Risk<span><br/>
            <div style="height: 109px;
            width: 182px;
            color: #FFFFFF;
            font-family: IBM Plex Sans;
            font-size: 70px;
            letter-spacing: 0.96px;
            line-height: 109px;
            padding-left:10px;
            padding-top:-34px">{{yes_percent|round(2)}}%</div>
            {% if yes_percent > 25 %}
            <span style="height: 20px;
            width: 212px;
            color: #FFFFFF;
            font-family: IBM Plex Sans;
            font-size: 16px;
            letter-spacing: 0.18px;
            line-height: 20px;
            padding-left:14px;
            padding-top:-34px">This customer has <strong style="color:red;">High</strong> risk.</span>
            {% elif yes_percent > 15 %}
            <span style="height: 20px;
            width: 212px;
            color: #FFFFFF;
            font-family: IBM Plex Sans;
            font-size: 16px;
            letter-spacing: 0.18px;
            line-height: 20px;
            padding-left:14px;
            padding-top:-34px">This customer has <strong style="color:orange;">Some</strong> risk.</span>
            {% else %}
            <span style="height: 20px;
            width: 212px;
            color: #FFFFFF;
            font-family: IBM Plex Sans;
            font-size: 16px;
            letter-spacing: 0.18px;
            line-height: 20px;
            padding-left:14px;
            padding-top:148px">This customer has <strong style="color:green;">Low</strong> risk.</span>
            {% endif %}
        </div>
    </div>
</div>
    <div style="padding-top: 35px">
      <div style="  height: 32px;
      color: #000000;
      font-family: IBM Plex Sans;
      font-size: 24px;
      letter-spacing: 0.27px;
      line-height: 32px;">Recommended Offer</div>
      {% if yes_percent > 25 %}
      <span style="height: 25px;
      width: 409px;
      color: #697077;
      font-family: IBM Plex Sans;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.23px;
      line-height: 25px;">Lower fees for 6
        months</span>.
      {% elif yes_percent > 15 %}
      <span style="height: 25px;
      width: 409px;
      color: #697077;
      font-family: IBM Plex Sans;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.23px;
      line-height: 25px;">Lower fees
        for 3 months</span>.
      {% else %}
      <span style="height: 25px;
      width: 409px;
      color: #697077;
      font-family: IBM Plex Sans;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.23px;
      line-height: 25px;">Lower fees for
        1 month</span>.
      {% endif %}
    </div>
    
    <div>
      <table class="bx--data-table" style="margin-top:46px">
        <tr>
          <th class="bx--table-header-label" style="height: 64px;width: 292px; background-color: #E0E0E0;font-family: IBM Plex Sans;font-size: 14px;font-weight: 600;color: #161616;">Attribute</span></th>
          <th class="bx--table-header-label" style="width: 292px; background-color: #E0E0E0;font-family: IBM Plex Sans;font-size: 14px;font-weight: 600;color: #161616;">Value</th>
        </tr>
        {% for (k,i) in zip(request.form.keys(),keystag) %}
        <tr>
          <td style="margin-right:8px; background-color: #F4F4F4;">{{i}}</td>
          <td>{{(((request.form[k].replace("_"," ")).replace("greater",">")).replace("less",'<'))}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

        <script>
          document.write('<a class="bx--btn bx--btn--primary bx--btn--field" style="margin-left: 465px; min-height: 48px; min-width: 207px; margin-top:46px; margin-bottom:107px; text-decoration: none; color: #FFFFFF;font-family: IBM Plex Sans;font-size: 14px;letter-spacing: 0.16px;line-height: 18px;" href="' + document.referrer + '">Back to Application</a>');
      </script> 
{% endblock %}

{% block body2 %}

{% endblock %}

