<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <title> Z API Hub Demo product Sample Application </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body class="simple-style" style="border-style: solid;">

    <div class ="titlediv">
        <h1 style="font-family: 'IBM Plex Sans', sans-serif;"> Z APIHub Demo Product Sample Application </h1>        
    </div>

    <div class="menu-div">
        <%- include ("./components/z-component.ejs") %>
    </div>

</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</html>
