<script>

  async function adduser() {

    let useremail = document.getElementById('useremail').value;
    if (useremail === "") {
      window.alert("User email not mentioned");
    }
    else {
      document.getElementById("overlay").style.display = "block";

      let response = await fetch('/adduser?useremail=' + useremail)
      let result = await response.json();

      if (result["result"] === "success") {
        document.getElementById("overlay").style.display = "none";
        window.alert("User Created");
        document.getElementById('useremail').value = '';

      } else {
        document.getElementById("overlay").style.display = "none";
        window.alert("Something went wrong!");
        document.getElementById('useremail').value = '';
      }
    }

  }

  async function deluser() {

    let userid = document.getElementById('user-list').value
    if (userid === "") {
      window.alert("User not mentioned");
    }
    else {
      document.getElementById("overlay").style.display = "block";
      let response = await fetch('/deluser?userid=' + userid)
      let result = await response.json();
      console.log("Result  : ", result)


      if (result["result"] === "success") {
        document.getElementById("overlay").style.display = "none";
        window.alert("User Deleted");
      } else {
        document.getElementById("overlay").style.display = "none";
        window.alert("Something went wrong!");
      }
    }

  }

  async function addWorkspace() {
    let workspacename = document.getElementById('workspacename').value;
    let workspacedescription = document.getElementById('workspacedescription').value;

    if (workspacename === "") {
      window.alert("Workspace name not mentioned");
    }
    else {

      let response = await fetch('/addworkspace?wname=' + workspacename + '&wdesc=' + workspacedescription)

      document.getElementById("overlay").style.display = "block";
      let result = await response.json();

      if (result["result"] === "success") {
        document.getElementById("overlay").style.display = "none";
        window.alert("Workspace Created");
        document.getElementById('workspacename').value = '';

      } else {
        document.getElementById("overlay").style.display = "none";
        window.alert("Something went wrong!");
        document.getElementById('workspacename').value = '';
      }
    }

  }

  async function listWorkspace() {
    document.getElementById("overlay").style.display = "block";

    document.querySelector('#workspace-list').innerHTML = '';
    let response = await fetch("/getworkspace");
    let result = await response.json();

    let select = document.getElementById('workspace-list');
    document.getElementById("overlay").style.display = "none";

    for (let i = 0; i < result.length; i++) {
      var opt = document.createElement('option');
      opt.value = result[i]['id'];
      opt.innerHTML = result[i]['value'];
      select.appendChild(opt);
    }
  }

  async function listUsers(flag) {
    if (flag) {

      document.getElementById("overlay").style.display = "block";
      document.querySelector('#user-list').innerHTML = '';
      let response = await fetch("/getusers");
      let result = await response.json();

      let select = document.getElementById('user-list');

      for (let i = 0; i < result.length; i++) {
        var opt = document.createElement('option');
        opt.value = result[i]['id'];
        opt.innerHTML = result[i]['value'];
        select.appendChild(opt);
      }
      document.getElementById("overlay").style.display = "none";

    }
    else {
      document.getElementById("overlay").style.display = "block";
      document.querySelector('#p_user-list').innerHTML = '';
      let response = await fetch("/getusers");
      let result = await response.json();
      let select = document.getElementById('p_user-list');

      for (let i = 0; i < result.length; i++) {
        var opt = document.createElement('option');
        opt.value = result[i]['id'];
        opt.innerHTML = result[i]['value'];
        select.appendChild(opt);
      }
      document.getElementById("overlay").style.display = "none";
    }

  }

  async function addmember() {

    let workspaceID = document.getElementById('workspace-list').value
    let userperms = document.getElementById('userperms').value
    let userid = document.getElementById('user-list').value

    let response = await fetch("/addmember?wid=" + workspaceID + "&userperms=" + userperms + "&userid=" + userid)

    document.getElementById("overlay").style.display = "block";
    let result = await response.json();


    if (result["result"] === "success") {
      document.getElementById("overlay").style.display = "none";
      window.alert("Membership Created");
    } else {
      document.getElementById("overlay").style.display = "none";
      window.alert("Something went wrong!");

    }

  }

  async function listPackages() {
    document.querySelector('#package-list').innerHTML = '';

    document.getElementById("overlay").style.display = "block";
    let response = await fetch("/getpackages");
    let result = await response.json();
    console.log("Result  : ", result)

    let select = document.getElementById('package-list');
    for (let i = 0; i < result.length; i++) {
      var opt = document.createElement('option');
      opt.value = result[i]['id'];
      opt.innerHTML = result[i]['value'];
      select.appendChild(opt);
    }
    document.getElementById("overlay").style.display = "none";
  }

  async function sendpackages() {

    let pkgname = document.getElementById('pkgname').value
    let filepkg = document.getElementById('filepkg').value
    let userid = document.getElementById('p_user-list').value
    document.getElementById("overlay").style.display = "block";

    let response = await fetch("/sendpackages?pkgname=" + pkgname + "&filepkg=" + filepkg + "&userid=" + userid)
    let result = await response.json();
    console.log("Result  : ", result)


    if (result["result"] === "success") {
      document.getElementById("overlay").style.display = "none";
      window.alert("Package Sent");
      document.getElementById('pkgname').value = '';
    } else {
      document.getElementById("overlay").style.display = "none";
      window.alert("Something went wrong!");
      document.getElementById('pkgname').value = '';

    }

  }

  async function listFiles() {

    document.querySelector('#filepkg').innerHTML = '';
    document.getElementById("overlay").style.display = "block";
    let response = await fetch("/getfiles");
    let result = await response.json();
    

    let select = document.getElementById('filepkg');
    for (let i = 0; i < result.length; i++) {
      var opt = document.createElement('option');
      opt.value = result[i]['name'];
      opt.innerHTML = result[i]['name'];
      select.appendChild(opt);
    }
    document.getElementById("overlay").style.display = "none";
  }

</script>


<div id="overlay" style="display: none">
  <div class="loading" id="loading"></div>
</div>

<div id="aoc">

  <!-- Workspace Section -->
  <span style="color: rgb(21, 21, 21);"> Workspace Details </span>
  <hr style="border-top: 1px solid rgb(21, 21, 21);"><br>

  <input type="text" name="workspacename" id="workspacename" class="field-divided" placeholder="Workspace Name" size=10
    required />
  <input type="text" name="workspacedescription" id="workspacedescription" class="field-divided"
    placeholder="Workspace Description (Optional) " size=10 />
  <br>
  <br>
  <button type="submit" onclick="addWorkspace()">Create Workspace</button>

  <br>
  <br><br>

  <!-- Users and Membership Section-->
  <span style="color: rgb(21, 21, 21);"> Users and Memberships in your Workspace </span>
  <hr style="border-top: 1px solid rgb(21, 21, 21);"><br>

  <button type="submit" onclick="adduser()">Add User</button>
  <input type="text" name="useremail" id="useremail" class="field-divided" placeholder="Add User by Email" size=10
    required />


  <br><br>

  <button type="submit" onclick="listWorkspace()">List Workspaces</button>
  <select id="workspace-list" name="workspace-list">
  </select>

  <br><br>

  <label for="userperms"> User Permissions: </label>
  <select id="userperms" name="userperms" placeholder="User Membership">
    <option value="false">Member</option>
    <option value="true">Workspace Manager</option>
  </select>
  <br><br>

  <button type="submit" onclick="listUsers(true)">List Users</button>
  <select id="user-list" name="user-list"></select>

  <br>
  <br>
  <button type="submit" onclick="addmember()">Create Membership</button>

  <button type="submit" onclick="deluser()">Delete Existing User</button>


  <br>
  <br><br>


  <!-- Packages Section -->
  <span style="color: rgb(21, 21, 21);"> Packages in your Workspace </span>
  <hr style="border-top: 1px solid rgb(21, 21, 21);"><br>

  <input type="text" name="pkgname" id="pkgname" class="field-divided" placeholder="Package Name" size=10 required />
  <br>
  <br>

  <label> Choose File to send in your Package </label>
  <button type="submit" onclick="listFiles()">List Files</button>

  <select id="filepkg" name="filepkg"> </select>
  <br>

  <br>
  <label> Choose Recipients: </label>
  <button type="submit" onclick="listUsers(false)">List Users</button>
  <select id="p_user-list" name="p_user-list"></select>
  <br>

  <br>
  <button type="submit" onclick="sendpackages()">Send Package</button>

  <br>

  <button type="submit" onclick="listPackages()">List Packages</button>
  <select id="package-list" name="package-list">
  </select>

  <br>

</div>
