<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>

  async function getcustomerdetails(){

    const response = await fetch('/getcustomerdetails');
    const result = await response.json();

    document.getElementById("cust-details").innerHTML = result["Name"] + ":      " + result["ID"] ;    
    
  }


  async function listSubscriptions() {

    document.getElementById("overlay").style.display = "block";

    let response = await fetch('/getmysubscriptions')
    let result = await response.json();

    var table0 = document.getElementById("subscriptions-table");

    table0.style.display = "";

    var tbodyRef0 = document.getElementById("subscriptions-table").getElementsByClassName('tbody0')[0];
    tbodyRef0.innerHTML = '';
    tbodyRef0 = document.getElementById("subscriptions-table").getElementsByClassName('tbody0')[0];

    document.getElementById("overlay").style.display = "none";

    for (var key in result) {
      if (result.hasOwnProperty(key)) {
        var val = result[key];

        var row = tbodyRef0.insertRow();
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);

        cell1.innerHTML = val["PartNumber"];
        cell2.innerHTML = val["Name"];
        cell3.innerHTML = val["NumberOfAvailableSeats"];
        cell4.innerHTML = val["SubscriptionState"];

        cell5.innerHTML = `<button type = "submit" onclick="getSubscriber( ${val["Id"]})"> Get Subscribers</button> `;
        cell6.innerHTML = `<button id= "" type = "submit" onclick="inviteuser(${val["Id"]})"> Invite to Subscription </button>`;



      }

    }
  }


  async function getSubscriber(value) {

    document.getElementById("overlay").style.display = "block";

    const response = await fetch('/getSubscribers?id=' + value);
    const result = await response.json();

    var table = document.getElementById("subscriberValues");
    table.style.display = "";

    var tbodyRef = document.getElementById('subscriberValues').getElementsByTagName('tbody')[0];
    tbodyRef.innerHTML = '';
    tbodyRef = document.getElementById('subscriberValues').getElementsByTagName('tbody')[0];

    document.getElementById("overlay").style.display = "none"

    for (var key in result) {
      if (result.hasOwnProperty(key)) {
        var val = result[key];

        var row = tbodyRef.insertRow();
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);

        cell1.innerHTML = val["SubscriberID"];
        cell2.innerHTML = val["OrgName"];
        cell3.innerHTML = val["GivenName"];
        cell4.innerHTML = val["SubscriberState"];
        cell5.innerHTML = `<input type='button' value='Revoke' onclick='revokesubscription(${val["SubscriberID"]},${val["SeatID"]})'> `;


      }

    }


  }


  async function inviteuser(val) {

    document.getElementById("inviteuser-div").style.display = "block";

    document.getElementById("subscription-id").value = val;

  }

  async function invite() {

    document.getElementById("overlay").style.display = "block";

    let val = document.getElementById("subscription-id").value;

    let useremail = document.getElementById('useremail').value;
    let givenname = document.getElementById('givenname').value;
    let familyname = document.getElementById('familyname').value;

    let response = await fetch('/inviteuser?givenname=' + givenname + '&useremail=' + useremail + '&familyname=' + familyname + '&subspid=' + val)
    let result = await response.json();


    document.getElementById("overlay").style.display = "none";

    if (result["result"] === "success") {
      window.alert("Invited user");
    } else {
      window.alert("Something went wrong!");
    }
    document.getElementById("inviteuser-div").style.display = "none";

  }



  async function revokesubscription(subid, seatid) {


    document.getElementById("overlay").style.display = "block";

    let response = await fetch('/revokesubscription?subid=' + subid + '&seatid=' + seatid)
    let result = await response.json();


    document.getElementById("overlay").style.display = "none";

    if (result["result"] === "success") {
      window.alert("Revoked Subscription ");
    } else {
      window.alert("Something went wrong!");
    }

  }




</script>


<div id="overlay" style="display: none">
  <div class="loading" id="loading"></div>
</div>


<div id="subscrps">
  <span style="color: rgb(21, 21, 21);"> Subscription for OrgAccess </span>
  <hr style="border-top: 1px solid rgb(21, 21, 21);"><br>

  <button type="submit" onclick="listSubscriptions() ; getcustomerdetails()">Get My Subscriptions</button>
  <br><br>
  <p id="cust-details"> </p>
  <br>
  <br>
  <table class = "table table-striped" id="subscriptions-table" style="width:70%;display:none;">
    <thead>
      <tr>
        <th>Part Number</th>
        <th>Name</th>
        <th>Number of Available Seats</th>
        <th>Subscription State</th>
        <th>Action</th>
      </tr>

    </thead>

    <tbody class="tbody0">


    </tbody>
  </table>


  <div id=inviteuser-div style="display: none">

    <p> Fill Details to Invite User to the Subscription</p>
    <input type="text" name="givenname" id="givenname" class="field-divided" placeholder="Given Name" size=10
      required /> <br> <br>
    <input type="text" name="familyname" id="familyname" class="field-divided" placeholder="Family Name" size=10
      required /> <br> <br>
    <input type="text" name="useremail" id="useremail" class="field-divided" placeholder="Email Address" size=10
      required /> <br> <br>

    <input style="display: none" type="text" name="val" id="subscription-id" value="" /> <br>
    <button id="" type="submit" onclick="invite()"> Invite </button>


  </div>

  <br>


  <br>
  <br>


  <table class = "table table-striped" id="subscriberValues" style="width:50%;display:none;">
    <thead>
      <th>Subscriber ID</th>
      <th>Org Name</th>
      <th>Given Name</th>
      <th>Subscriber State</th>
      <th>Action</th>
    </thead>
    <tbody>


    </tbody>

  </table>


</div>
