.App {
  padding: 24px;
}

.AppContent {
  padding-top: 64px;
}

.ButtonArea {
  padding-top: 40px;
  padding-left: 0px;
  padding-bottom: 54px;
}

.TabArea{
padding-top: 16px;
}

.TextArea{
  padding-bottom: 24px; 
}

.ButtonAreamap {
  padding-top: 40px;
  padding-left: 0px;
  padding-bottom: 48px;
}

.FormElements {
  margin-bottom: 20px;
}

.TableDisplay {
  padding-bottom: 72px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------ added ------ */

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
}

#map {
  width: 95%;
  height: 450px;
  /* background: grey; */
}

#panel {
  width: 100%;
  /* height: 400px; */
}

#map2 {
  width: 95%;
  height: 450px;
  /* background: grey; */
}

#panel2 {
  width: 100%;
  /* height: 400px; */
}

.directions li span.arrow {
  display: inline-block;
  min-width: 28px;
  min-height: 28px;
  background-position: 0px;
  background-image: url("https://heremaps.github.io/maps-api-for-javascript-examples/map-with-route-from-a-to-b/img/arrows.png");
  position: relative;
  top: 8px;
}
.directions li span.depart {
  background-position: -28px;
}
.directions li span.rightturn {
  background-position: -224px;
}
.directions li span.leftturn {
  background-position: -252px;
}
.directions li span.arrive {
  background-position: -1288px;
}
